@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <h2>Quick Links</h2>
        <ul class="list-unstyled">
            <li><a class="btn btn-primary mb-1" asp-controller="Suppliers" asp-action="Index">Supplier Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="PurchaseRequisitions" asp-action="Index">Purchase Requisitions Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="PurchaseOrders" asp-action="Index">Purchase Orders Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="Items" asp-action="Index">Items Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="AdditionalInfos" asp-action="Index">Additional Information Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="GoodsReceivingNotes" asp-action="Index">Goods Receiving Notes Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="Users" asp-action="Index">Users Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="Requisitions" asp-action="Index">Requisitions Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="Branches" asp-action="Index">Branches Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="AssetTransfers" asp-action="Index">Asset Transfers Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="AdditionalInfoes" asp-action="Index">AdditionalInfo Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="AssetReturns" asp-action="Index">Asset Returns Index</a></li>
            <li><a class="btn btn-primary mb-1" asp-controller="AssetDisposals" asp-action="Index">Asset Disposals Index</a></li>
        </ul>
    </div>
</div>
